<form style="width:30%;margin-left:1%;" #ticketForm="ngForm" (ngSubmit)="updateTicket(ticketForm.value)">
    <div class="form-group">
        <label for="imId">IM ID</label>
        <input class="form-control" name="ImId" [ngModel] ="ticket.IncidentId"/>
    </div>
    <div class="form-group">
        <label for="AssigneeGroup">Assignee Group</label>
        <input class="form-control" name="AssigneeGroup" [ngModel] ="ticket.AssigneeGroup"/>
    </div>
    <div class="form-group">
        <label for="Assignee">Assignee</label>
        <input class="form-control" name="Asignee" [ngModel]="ticket.Assignee"/>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" name="Description" [ngModel]="ticket.NotificationText"></textarea>
    </div>
    <div class="form-group">
        <label for="Severity">Severity</label>
        <select class="form-control" name="Severity" ngModel>
            <option> -- </option>
        </select>
    </div>
    <div class="form-group">
        <label for="Status">Status</label>
        <select class="form-control" name="Status" ngModel>
            <option> -- </option>
        </select>
    </div>
    <div class="form-group">
        <label for="SuspendReason">Suspend Reason</label>
        <input class="form-control" name="SuspendReason" [ngModel] ="ticket.SuspendReason" />
    </div>
    <!--<div class="form-group">
        <label for="ExistingStatusTracking">Existing Status Tracking</label>
        <input class="form-control" name="ExistingStatusTracking" ngModel/>
    </div>-->
    <div class="form-group">
        <label for="UpdateStatusTracking">Update Status Tracking</label>
        <input class="form-control" name="StatusTracking" #StatusTracking="ngModel" [ngModel] ="ticket.StatusTracking" required>
        <div class="alert alert-danger" *ngIf="StatusTracking.touched && !StatusTracking.valid">Update Status Tracking should not be blank</div>
    </div>
    <div class="form-group">
        <label for="ETR">ETR</label>
        <my-date-picker name="ETR" [options]="myDatePickerOptions" #ETR="ngModel" required [ngModel]="ticket.ETR"></my-date-picker>
        <small id="ETRHelp" class="form-text text-muted">Select a date from the callender</small>
        <div class="alert alert-danger" *ngIf="ETR.touched && !ETR.valid">ETR date value is required</div>
    </div>
    <div class="form-group">
        <label for="Priority">Priority</label>
        <input class="form-control" name="Priority" #Priority="ngModel" [ngModel]="ticket.Priority" required />
        <div class="alert alert-danger" *ngIf="Priority.touched && !Priority.valid">Priority should not be blank</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!ticketForm.valid">Update</button>
    <a class="btn btn-danger" routerLink="/tickets">Cancel</a>
</form>
